@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Mulish:wght@200;300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background: url(two.png);
    background-size: 1300px 900px;
    background-position: top;
    background-attachment: fixed;
}

nav{
    width: 1340px;
    display: flex;
    height: 80px;
    margin-bottom: 40px;
}

nav a{
    color: #000;
    
}

nav .navbar-brand .img{
    width: 100px;
    margin-top: 50px;
    height: 100px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-brand .img{
    box-shadow: none;
    height: 50px;
    width: 50px;
}
.container .site-name{
    font-size: 35px;
    color: #75fff8;
    margin-bottom: 30px;
}
.apk{
    margin:50px 20px;
    border-radius: 5px;
}
img{
    width: 300px;
    height: 170px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ffffff;
}

.apk:hover{
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    transition: .9s;
    transform: scale(1.1); 
}

.description{
    width: 280px;
    height: 290px;
}

.description, h2 p{
    margin: 0 10px;
}

.button{
    display: flex;
    width: 100px;
    height: 40px;
    background: #384bf1;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0 0 30px;
}

.button:hover{
    color: #ffffff;   
}


@media screen and (max-width: 360px){
    body{
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: #ffffff; */
        height: fit-content;
        background: url(two.png);
        /* background-size: 450px 600px ; */
        /* background-position: top; */
        background-size: 450px 600px ;
        background-position: bottom;
        background-attachment: fixed;

    }
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    nav{
        width: 360px;
        display: flex;
        height: min-content;
        /* margin-bottom: 160px; */
    }
    
    nav a{
        font-family: 'Open Sans', sans-serif;
        color: #000;
        font-size: 18px;
        font-weight: 900;
        /* font-size: 20px; */
    }

    nav a:hover{
        background: #636163;
    }
    
    nav .navbar-brand .img{
        width: 70px;
        height: 50px;
        margin-top: 0;
        box-shadow: none;
    }

    .container .site-name{
        font-size: 35px;
        color: #75fff8;
        margin-bottom: 30px;
    }
    .apk{
        margin: 20px 0;
    }

    .apk:hover{
        box-shadow: none;
        cursor: auto;
        transition: none;
        transform: none;
    }

    .apk img{
        width: 300px;
        height: 170px;
        /* margin: 0 20px; */
        display: flex;
        justify-content: center;
        border-radius: 5px;
        /* box-shadow: 0 0 10px #ffffff; */
    }
   
    p{
        font-size: 20px;
        font-weight: bold;
        text-align: justify;
        margin: 20px 0;
        color: #000;
        font-family: 'Raleway', sans-serif;
    }
    
    .description{
        position: relative;
        display: flex;
        display: inline-block;
        text-align: justify;
        margin: 20px 10px;
    }

    .apk h2{
        color: #000;
        /* font-size: 28px; */
        font-weight: bolder;
    }

    .button{
        display: flex;
        width: 100px;
        height: 40px;
        /* background: #7369fd; */
        background: #384bf1;
        color: #ffffff;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* text-decoration: none; */
        margin: 10px 0 0 30px;
    }
    .button:hover{
        /* background: #3d3f42; */
        background: #f09df0;
    }
   
}