@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Mulish:wght@200;300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    /* background: url(/image/two.png); */
    background-size: 1300px 900px;
    background-position: top;
    background-attachment: fixed;
}



.bg {
    display: flex;
    justify-content: center;
    width: 1350px;
}

.bg .img {
    width: 1349px;
    background: url(/image/progif.gif);
    height: 700px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: 200rem 800px; */
    background-size: cover;
    /* margin-top: 10px; */
    
}

.nav{
    top: 0px;
    position: fixed;
    z-index: -1;
    width: 100%;
    transition: top 0.7s;
    display: none;
}

nav {
    width: 1349px;
    display: none;
    height: 80px;
    /* margin-bottom: 20px; */
    box-shadow: 0 0 5px rgb(223, 223, 223);

}

nav .nav-link {
    font-size: 18px;
    width: 120px;
    display: flex;
    justify-content: center;
}

nav a:hover:not(.navbar-brand) {
    display: flex;
    transition: .9s;
    width: 120px;
    background: #0ac9b9;
    border-radius: 5px;
}

nav .navbar-brand .img {
    width: 70px;
    /* margin-top: 30px; */
    height: 70px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.navbar-brand .img {
    box-shadow: none;
    height: 50px;
    width: 50px;
}

.container .site-name {
    font-size: 35px;
    color: #75fff8;
    margin-bottom: 30px;
}

.apk {
    margin: 50px 30px;
}

img {
    width: 300px;
    height: 170px;
    border-radius: 1px;
}



.apk:hover 
{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.808);
    cursor: default;
    transition: .7s;
    transform: scale(1);
    border-radius: 1px;
    background: #ffffffc4;
    /* margin-top: 15px; */
}

.description {
    width: 280px;
    height: 250px;
    text-align: justify;
}

.description,
h2 p {
    margin: 0 10px;
}

.button {
    display: flex;
    width: 100px;
    height: 40px;
    background: #384bf1;
    color: #ffffff;
    font-size: 15px;
    /* font-family: 'Open Sans', sans-serif; */
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0 0 10px;
    border: none;
}

.button:hover {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.6s ease;
    background: #ff5447;
}

.apk:hover .button{
    width: 300px;
    display: flex;
    position: relative;
    margin: 10px 0 0 0px;
    transition: .9s;
    /* box-shadow: inset 0 0 30px #ffffff; */
    
}

.pagination {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pagination ul li {
    display: inline-block;
    margin: 0 10px;
}

.pagination ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    background: #f88181;
    width: 150px;
    height: 50px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul li:hover{
    transition-duration: .5s;
    box-shadow: 0 0 10px 2px #000000;
    border-radius: 1px;
    
}

.pagination ul li:hover .angel{
    color: #000;
}
.pagination ul .active {
    background: #aeafbb;
    color: #000;
}


ul li {
    margin: 10px 0;
}

.contact {
    width: 1349px;
    height: 200px;
    /* padding: 200px 0; */
    /* margin-top: 200px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background: rgb(235, 226, 226); */
    background: #0f0f0f;
    /* box-shadow: 0 0 1px #2c2b2b; */
}

.contact .cont {
    width: 1349px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* .logo-item{
    display: flex;
    justify-content: center;
    align-items: center;;
    margin: 0 100px;
    background-color: #ffffff;
    
} */

.cont img {
    height: 130px;
    width: 130px;
   /* z-index: 1; */
   margin: 0 50px;
}
/* .cont .circle{
    display: flex;
    position: absolute;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
} */

.cont ul,
.cont ul {
    color: #fff;
    
    /* display: inline-flex; */
    /* margin: 10px 10px; */
    margin-left: 200px;
    list-style: none;
}

.cont ul li a {
    color: #a6f393;
    text-decoration: none;
    font-size: 19px;
    text-align: justify;
}

.cont .cont-icon {
    font-size: 30px;
    display: inline-flex;
}

.cont .ul-icon li {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-flex;
    margin: 0 30px;
    padding: 10px 10px;
}

@media screen and (max-width: 480px) {
    body {

        display: flex;
        justify-content: center;
        align-items: center;
        /* background: url(/image/new.png); */
        /* background-size: 480px 700px; */
        /* background-position: top; */
        /* background-attachment: fixed; */

    }

    .bg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 430px;
    }

    .bg .img {
        width: 430px;
        background: url(/image/progif.gif);
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 480px 450px;
        /* margin-left: -890px; */
        background-size: cover;
        /* margin-top: 0; */
    }

    .container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .nav{
        width: 100%;
    }

    nav {
        width: 100%;
        /* width: max-content; */
        display: flex;
        height: min-content;
        margin-bottom: -10px;
    }

    nav a {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 900;
    }

    nav .nav-link {
        display: flex;
        width: auto;
        justify-content: unset;
    }

    nav a:hover:not(.navbar-brand) {
        display: flex;
        background: #929192;
        width: auto;
        transition: none;
        border-radius: unset;

    }

    nav .navbar-brand .img {
        width: 70px;
        height: 50px;
        margin-top: 0;
        box-shadow: none;
    }

    .container .site-name {
        font-size: 35px;
        color: #75fff8;
        margin-bottom: 30px;
    }

    .apk {
        margin: 40px 0;

    }

    .apk:hover {
        box-shadow: none;
        cursor: auto;
        transition: none;
        transform: none;
        background: none;

    }

    .apk img {
        width: 360px;
        height: 170px;
        /* margin: 0 20px; */
        display: flex;
        justify-content: center;
        border-radius: 5px;
        /* box-shadow: 0 0 10px #ffffff; */
    }

    p {
        font-size: 20px;
        font-weight: bolder;
        text-align: justify;
        margin: 0px 0;
        /* margin-left: 20px; */
        color: #000;
        font-family: 'Raleway', sans-serif;
    }
    .apk:hover 
    {
        box-shadow: none;
        cursor: default;
        transition: none;
        transform: none;
        border-radius: 1px;
        background: none;
        /* margin-top: 15px; */
    }
    

    .description {
        width: 360px;
        /* height: 250px; */
        position: relative;
        display: flex;
        display: inline-block;
        /* text-align: justify; */
        margin: 25px 0;
    }

    .apk h2 {
        color: #000;
        font-weight: bolder;
    }

    .button {
        display: flex;
        width: 360px;
        height: 40px;
        background: #384bf1;
        color: #ffffff;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 10px 0px 0px 0px;
    }

    .button:hover {
        background: #ff5447;
        text-decoration: none;
        transition: none;
    }

    .apk:hover .button{
        width: auto;
        display: flex;
        position: relative;
        /* margin: 0 0 0 0; */
        transition: none;
        /* box-shadow: inset 0 0 30px #ffffff; */
        
    }

    .pagination {
        width: 1005;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .pagination ul li {
        display: inline-block;
        margin: 50px 13px;

    }

    .pagination ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        background: #f88181;
        width: 100px;
        height: 50px;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    
    .container .contact {
        width: 100%;
        height: 200px;
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        margin-top: 30px;
        /* justify-content: center; */
        background: #0f0f0f;
        /* box-shadow: 0 0 1px #2c2b2b; */
    }
    
    .contact .cont {
        width: 100%;
        /* padding: 0px 20px ; */
        /* float: left; */
        /* flex-wrap: wrap; */
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .cont img {
        position: absolute;
        ;
        height: 50px;
        margin: 0 0;
        margin-top: -100px;
        margin-left: 340px;
        width: 50px;
    }

    .cont ul {
        color: #000;
        /* display: inline-flex; */
        /* margin: 10px 10px; */
        margin-top: 10px;
        margin-left: 40px;
        list-style: none;
    }

    .cont ul li a {
        color: #000;
        text-decoration: none;
        font-size: 19px;
        text-align: justify;
    }

    .cont .cont-icon {
        font-size: 24px;
        display: inline-flex;
        margin-top: 100px;
    }

    .cont .ul-icon li {
        width: 30px;
        height: 30px;
        position: relative;
        display: inline-flex;
        margin: 0 10px;

        padding: 10px 10px;
    }

}


@media screen and (max-width: 360px) {
    body {

        display: flex;
        justify-content: center;
        align-items: center;
        /* background: url(/image/new.png); */
        /* background-size: 450px 700px; */
        /* background-position: top; */
        /* background-attachment: fixed; */

    }

    .bg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
    }

    .bg .img {
        width: 360px;
        background: url(/image/progif.gif);
        height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: 100px 60px; */
        /* margin-left: -890px; */
        background-size: cover;
        /* margin-top: 0; */
    }

    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .nav{
        top: 0px;
        position: fixed;
        z-index: -1;
        width: auto;
        transition: none;
    }
    
    nav {
        width: 360px;
        display: flex;
        height: min-content;
        margin-bottom: 0px;
        /* background-color: #fff; */
    }

    nav a {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 900;
    }

    nav .nav-link {
        display: flex;
        width: auto;
        justify-content: unset;
    }

    nav a:hover:not(.navbar-brand) {
        display: flex;
        background: #929192;
        width: auto;
        transition: none;
        border-radius: unset;

    }

    nav .navbar-brand .img {
        width: 70px;
        height: 50px;
        margin-top: 0;
        box-shadow: none;
    }

    .container .site-name {
        font-size: 35px;
        color: #75fff8;
        margin-bottom: 30px;
    }

    .apk {
        margin: 40px 0;

    }

    .apk:hover {
        box-shadow: none;
        cursor: auto;
        /* transition: none; */
        /* transform: none; */
        background: none;
        transform: none;
        transition: none;
        border-radius: 0;
    }

    .apk img {
        width: 320px;
        height: 170px;
        /* margin: 0 20px; */
        display: flex;
        justify-content: center;
        border-radius: 5px;
        /* box-shadow: 0 0 10px #ffffff; */
    }

    p {
        font-size: 20px;
        font-weight: bolder;
        text-align: justify;
        margin: 0px 0;
        /* margin-left: 20px; */
        color: #000;
        font-family: 'Raleway', sans-serif;
    }

    .description {
        width: 320px;
        position: relative;
        display: flex;
        display: inline-block;
        /* text-align: justify; */
        margin: 15px 0;
    }

    .apk h2 {
        color: #000;
        font-weight: bolder;
    }

    .button {
        display: flex;
        width: 320px;
        height: 40px;
        background: #384bf1;
        /* background: #606ff7; */
        color: #ffffff;
        font-size: 15px;
        /* font-family: 'Open Sans', sans-serif; */
        text-align: center;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 10px 0 0px 0;
    }

    .button:hover {
        background: #ff5447;
        text-decoration: none;
        transition: none;
    }

    .apk:hover .button{
        width: 320px;
        /* display: flex; */
        position: initial;
        /* margin: 10px 0 0 0; */
        transition: 0s;
        
    }
    /* border-radius: 0 0 5px 5px; */

    .pagination {
        width: 100%;
        /* display: flex; */
        /* position: absolute; */
        justify-content: center;
        align-items: center;
    }

    .pagination ul li {
        /* position: relative; */
        display: inline-block;
        margin: 30px 10px;
        /* justify-content: center; */
        /* align-items: center; */
        /* width: 100px; */

    }

    .pagination ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        background: #f88181;
        width: 70px;
        height: 40px;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .pagination ul li:hover{
        box-shadow: 0 0 10px #000;
        transition: none;
        border-radius: 1px;
        /* transform: scale(1.05); */
        /* width: 50px; */
        /* height: 50px; */
        /* border-radius: 50%; */
    }

    .pagination ul .active {
        background: #aeafbb;
        color: #000;
    }

    
    .container .contact{
        width: 360px;
        height: 200px;
        display: flex;
        margin-top: 40px;
    }
    .contact{
        width: 360px;
        height: 400px;
        display: flex;
        align-items: center;
        margin-top: 30px;
        /* justify-content: center; */
        background: #0f0f0f;
        /* box-shadow: 0 0 1px #2c2b2b; */
    }
    
    .contact .cont{
        width: 360px;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }
    .cont img{
        position: absolute;;
        height: 50px;
        margin: 0 0;
        margin-top: -60px;
        margin-left: 300px;
        width: 50px;
    }
    
    .cont ul{
        color: #000;
        /* display: inline-flex; */
        /* margin: 10px 10px; */
        margin-top: 10px;
        margin-left: 20px;
        list-style: none;
    }
    .cont ul li a{
        color: #a6f393;
        text-decoration: none;
        font-size: 19px;
        text-align: justify;
    }
    
    .cont .cont-icon {
        font-size: 24px;
        display: inline-flex;  
        margin-top: 100px;  
    }
    
    .cont .ul-icon li{
        width: 30px;
        height: 30px;
        position: relative;
        display: inline-flex;
        margin: 0 10px;
        
        padding: 10px 10px;
    }
}